
<section ng-controller="ContactController" class="u-fullHeight">
  <button ui-sref="home" class="IconButton BackButton"><i class="fa fa-arrow-left fa-2x"></i></button>
  <div class="Container">
    <h1>Contact Us</h1>
    <p>Both Windsor Brass and our sister band Brisbane Excelsior are available for functions.</p>
    <p>We have entertained generations of Australians through concerts, parades, park performances, opening events, ceremonial marches, vice-regal occasions and corporate bookings.</p>
    <p>The bands repertoire is extremely diverse. We perform classical, light classical, musical comedy, traditional swing, contemporary and sacred music. We are also available for marching performances.</p>
    <p>Feel free to contact us below to discuss your needs.</p>
    <form class="Form">
      <div class="Form-field">
        <label for="form-name">Name</label>
        <input id="form-name" type="text" placeholder="Name..." ng-model="sender.name"/>
      </div>
      <div class="Form-field">
        <label for="form-email">Return Email</label>
        <input id="form-email" type="email" placeholder="Return Email..." ng-model="sender.email"/>
      </div>
      <div class="Form-field">
        <label for="form-message" class="message">Message</label>
        <textarea id="form-message" placeholder="Message..." ng-model="sender.message" required="required"></textarea>
      </div>
      <div class="Form-field">
        <button ng-click="sendMessage()" class="Button Form-block">Send</button>
      </div>
    </form>
  </div>
</section>