@import 'components/container';
@import 'components/agenda';
@import 'components/date-stacked';
@import 'components/slat';
@import 'components/animations';
@import 'components/icon-button';
@import 'components/event';
@import 'components/utilities';
@import 'components/back-button';
@import 'components/navigation';
@import 'components/button';
@import 'components/form';

$slightly-transparent-black: rgba(40, 40, 40, 0.98);

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0;
    margin-top: -1px; // Prevent margins from collapsing
    padding-top: 1px; // Prevent margins from collapsing
    font-family: Roboto, "Helvetica Neue", Helvetica, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneve, Verdana, sans-serif;
    letter-spacing: -0.02em;
    font-weight: 300;
    font-style: normal;
    color: rgb(50,50,50);
    font-size: 18px;
    line-height: 1.4;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    // Prevent horizontal scrollbar when animating between pages
    overflow-x: hidden;
    background-color: #f8f8f8;
}

html, body, {
    height: 100%;
    font-size: 18px;
}

@media (min-width: 768px) {
    html, body, .container {
        font-size: 24px;
    }
}

h1, h2 {
    font-family: 'Open Sans';
    font-weight: 300;
    color: rgb(20, 20, 20);
    text-shadow: 1px 1px #fff;
}

h2 {
    margin-top: 0;
}

.home-background {
    background-image: url(/img/tree.jpg);
    background-size: cover;
    background-position: center;
}

.Navigation {
    font-size: 0.8em;
}

.facebook:hover {
    background: rgba(60, 60, 200, 0.98);
}

.Container {
    margin-top: 2em;
}

.Container h1:first-of-type {
    margin-top: 0;
}

body > section {
    overflow-x: hidden;
}

.event-page {
    position: relative;
    background-color: rgb(220, 80, 80);
    color: #edd;
    min-height: 100vh;
    // Prevents margin collapsing
    overflow-x: hidden;
    text-shadow: 1px 1px #B11111;
}

// Override default h1 styles with custom color and shadow from .event-page
.event-page h1 {
    color: inherit;
    text-shadow: inherit;
}

.angular-google-map-container {
    height: 300px;
}

@media (min-width: 768px) {
    .angular-google-map-container {
        height: 400px;
    }
}