@mixin translateX($amount) {
    -webkit-transform: translateX($amount);
    -moz-transform: translateX($amount);
    -ms-transform: translateX($amount);
    -o-transform: translateX($amount);
    transform: translateX($amount);
}