section(ng-controller="HomeController")
    .Navigation
        a.Navigation-logo
            img(src="/img/windsor_logo.png")

    nav.Navigation.Navigation--bottom
        //- .Navigation-item
        a.Navigation-item(ui-sref="about") ABOUT
        //- .Navigation-item
        a.Navigation-item(ui-sref="event.list") GIGS
        //- .Navigation-item
        a.Navigation-item(ui-sref="contact") CONTACT
        //- .Navigation-item.facebook
        a.Navigation-item.facebook(href="https://www.facebook.com/windsorbrass" target="_blank")
            i.fa.fa-facebook
    .u-fullScreen.home-background