section.event-page(ng-controller="EventViewController")
    button.IconButton.BackButton(ui-sref="event.list")
        i.fa.fa-arrow-left.fa-2x
    .Container
        .Event
            .Event-title
                h1 {{event.summary}}
            .Event-details
                .Event-details-row
                    span.title When:
                    span.detail {{event.start.dateTime || event.start.date | date:dateFormat}}
                .Event-details-row
                    span.title Where:
                    span.detail {{event.location}}
            .Event-map
                google-map(center="map.center" zoom="map.zoom" draggable="true" options="map.options")
                    marker(idkey="marker.id" coords="marker.coordinates")
            .Event-description
                <pre>{{event.description}}</pre>