script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js')
script(src='/lib/angular-scroll/angular-scroll.min.js')
script(src='/lib/angular-resource/angular-resource.js')
script(src='/js/app.js')

if (req.host='localhost')
    //Livereload script rendered
    script(type='text/javascript', src='http://localhost:35729/livereload.js')