script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js')
script(src='/lib/angular-messages/angular-messages.min.js')
script(src='/lib/angular-scroll/angular-scroll.min.js')
script(src='/lib/angular-resource/angular-resource.js')
script(src='/lib/angular-animate/angular-animate.js')
script(src='/lib/angular-ui-router/release/angular-ui-router.min.js')
script(src='/lib/angular-touch/angular-touch.min.js')
script(src='//maps.googleapis.com/maps/api/js?sensor=false')
script(src='/lib/lodash/dist/lodash.underscore.min.js')
script(src='/lib/angular-google-maps/dist/angular-google-maps.min.js')


script(src='/js/app.js')
script(src='/modules/config/config-module.js')
script(src='/modules/config/config-services.js')
script(src='/modules/event/event-module.js')
script(src='/modules/event/event-services.js')
script(src='/modules/event/event-controllers.js')
script(src='/modules/geocode/geocode-module.js')
script(src='/modules/geocode/geocode-services.js')
script(src='/modules/about/about-module.js')
script(src='/modules/about/about-controllers.js')
script(src='/modules/contact/contact-module.js')
script(src='/modules/contact/contact-controllers.js')
script(src='/modules/contact/contact-services.js')




if req.ip == '192.168.1.8'
    script(src='http://localhost:35729/livereload.js')
else if req.ip == '127.0.0.1'
    script(src='http://localhost:35729/livereload.js')