head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
  meta(name='viewport', content='width=device-width,initial-scale=1,user-scalable=no')

  title= 'Windsor Brass'
  meta(http-equiv='Content-type', content='text/html;charset=UTF-8')
  meta(name="keywords", content="Brass Band")
  meta(name="description", content="Brass Band in Brisbane Australia")

  link(href='/img/icons/favicon.ico', rel='shortcut icon', type='image/x-icon')

  meta(property='og:title', content='Windsor Brass')
  meta(property='og:description', content='Brass Band in Brisbane Australia')
  meta(property='og:type', content='website')
  meta(property='og:url', content='www.windsorband.com.au')
  meta(property='og:image', content='APP_LOGO')
  meta(property='og:site_name', content='Windsor Brass')

  link(rel='stylesheet', href='/css/main.css')
  link(rel='stylesheet', href='//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css')
  link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Roboto:400,300')
  link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans:400,300')

  //if lt IE 9
    script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')
