extends layout

block content
    .Slat(style="background-color: #8888aa")
        p Some content goes in here la la la
        p Some content goes in here la la la
        p Some content goes in here la la la
    .Slat(style="background-color: #88aa88")
        p Some content goes in here la la la
        p Some content goes in here la la la
        p Some content goes in here la la la
    .Slat(style="background-color: #aa8888")
        p Some content goes in here la la la
        p Some content goes in here la la la
        p Some content goes in here la la la
        form
            input(ng-model="person.name")
