.Agenda {
    display: block;
    text-align: left;
    color: #333;
}

.Agenda-event {
    display: table;
    text-decoration: none;
    cursor: pointer;
    width: 100%;
    padding: 0.5em 0 0 0;
    color: inherit;
}

.Agenda-event:hover {
    color: #d55b5e;
}

.Agenda-event:first-of-type {
    border-top: none;
}

.Agenda-event:last-of-type {
    border-bottom: none;
}

.Agenda-date {
    padding: 0 1em 0 0;
    display: table-cell;
    vertical-align: middle;
    width: 3em;
    font-size: 0.7em;
}

.Agenda-info {
    display: table-cell;
    vertical-align: middle;
}

.Agenda-arrow {
    display: table-cell;
    vertical-align: middle;
    width: 1em;
    text-align: right;
    opacity: 0.6;
}

.Agenda-arrow:hover {
    opacity: 1;
    color: inherit;
}

.Agenda-location {
    font-size: 0.7em;
}