.Agenda {
    display: block;
    text-align: left;
    color: #333;
}

.Agenda-event {
    display: table;
    text-decoration: none;
    cursor: pointer;
    width: 100%;
    border-bottom: solid 1px #eee;
    border-top: solid 1px #fefefe;
}

.Agenda-event:hover {
    color: #d55b5e;
}

.Agenda-event:first-of-type {
    border-top: none;
}

.Agenda-event:last-of-type {
    border-bottom: none;
}

.Agenda-date {
    padding: 0 1em 0 0;
    display: table-cell;
    vertical-align: middle;
    width: 3em;
    font-size: 0.7em;
}

.Agenda-info {
    display: table-cell;
    vertical-align: middle;
}

.Agenda-location {
    font-size: 0.7em;
}