@import 'mixins/transform';
@import 'mixins/transition';

.slide-from-right.ng-enter, .slide-from-right.ng-leave {
    @include transition(all, 500ms, cubic-bezier(0.4, 0, 0.2, 1));

    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
}

// New pageStart off to the right
.slide-from-right.ng-enter {
    @include translateX(100%);
}

// Finish entry animation on-screen
.slide-from-right.ng-enter.ng-enter-active {
    @include translateX(0);
}

// Finish exit animation off the left
.slide-from-right.ng-leave.ng-leave-active {
    @include translateX(-100%);
}
// A slide-from-right.ng-leave following a slide-from-left.ng-enter is incorrect
// and we need to make it behave like a slide-from-left and exit it to the right
.slide-from-left.ng-enter ~ .slide-from-right.ng-leave.ng-leave-active {
    @include translateX(100%);
}

.slide-from-left.ng-enter, .slide-from-left.ng-leave {
    @include transition(all, 500ms, cubic-bezier(0.4, 0, 0.2, 1));

    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
}

.slide-from-left.ng-enter {
    @include translateX(-100%);
}

.slide-from-left.ng-enter.ng-enter-active {
    @include translateX(0);
}
.slide-from-left.ng-leave.ng-leave-active {
    @include translateX(100%);
}
// // A slide-from-left.ng-leave following a slide-from-right.ng-enter is incorrect
// and we need to make it behave like a slide-from-right and exit it to the left
.slide-from-right.ng-enter ~ .slide-from-left.ng-leave.ng-leave-active {
    @include translateX(-100%);
}