.Button {
    border: none;
    background: inherit;
    color: inherit;
    // Override greedy browser default
    font-size: 1em;
    // Override greedy browser default
    font-family: inherit;
    cursor: pointer;
    padding: 0.5em;
}

.Button--fullWidth {
    width: 100%;
}

.Button-icon {
    float: left;
    padding: 5px;
}