.DateStacked {
    display: block;
    text-align: center;
    text-transform: uppercase;
    line-height: 0.9;
}

.DateStacked-date {
    font-size: 2em;
    letter-spacing: -0.05em;
    padding-right: 0.08em;
}

.DateStacked-month {
    font-size: 0.7em;
    letter-spacing: 0.15em;
}

.DateStacked-day {
    font-size: 0.7em;
    letter-spacing: 0.15em;
}