$successBorder: green;
$successBackground: rgb(208, 255, 208);
$failBorder: red;
$failBackground: #fae7e7;

// Basic row structure
.Form input, .Form textarea, .Form-block {
    font-size: 1em;
    padding: 0.5em;
    width: 100%;
    border-radius: 3px;
    border: 1px solid transparent;
    border-top: none;
    border-bottom: 1px solid #DDD;
    box-shadow: inset 0 1px 2px rgba(0,0,0,.39), 0 -1px 1px #FFF, 0 1px 0 #FFF;
}

// Remove active control outlines
.Form input:focus, .Form textarea:focus, button:focus {
    outline: none;
}

.Form label {
    // We only want to keep labels for accessibility
    // Prefer placeholder over labels
    display: none;
}

.Form input {
    font-family: inherit;
    font-weight: inherit;
}

.Form textarea {
    min-height: 6em;
    font-family: inherit;
    font-weight: inherit;
}

.Form button {
    font-weight: bold;
    font-size: 0.8em;
}

.Form-field {
    margin-bottom: 1em;
}

.Form-field--inline {
    position: relative;
}

.Form-field--inline input {
    width: 75%;
    height: 100%;
    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.Form-field--inline button {
    position: absolute;
    right: 0;
    top: 0;
    width: 25%;
    height: 100%;
    border: solid 1px rgba(0,0,0,0.2);
    border-left: none;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

@media (min-width: 768px) {
    .Form-field--inline button {
        width: 17%;
    }
    .Form-field--inline input {
        width: 83%;
    }
}



// Validation: invalid
.Form .ng-dirty.ng-invalid {
    // border-color: $failBorder;
    background-color: $failBackground;
}
.Form-field--inline .ng-dirty.ng-invalid ~ button {
    // border-color: $failBorder;
    background-color: $failBackground;
}

// Validation: valid
.Form .ng-dirty.ng-valid {
    // border-color: $successBorder;
    background-color: $successBackground;
}
.Form-field--inline .ng-dirty.ng-valid ~ button {
    // border-color: $successBorder;
    background-color: $successBackground;
}

[ng-messages] {
    width: 100%;
}

[ng-message] {
    margin: 0 0 5px 0;
    padding: 0.5em;
    width: 100%;
}

[ng-messages] .invalid{
    background-color: $failBackground;
}

[ng-messages] .valid{
    background-color: $successBackground;
}